{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="link-container">
            <p class="link-text"><a href="{% url 'index' %}">Home</a> / Blog {{ post.id }}</p>
            {% if user.is_authenticated %}
            <div class="py-2">
                <a href="{% url 'add-comment' post.id %}" class="btn btn-sm btn-info">Add Comment</a>
                {% if user == post.author %}
                <a href="{% url 'update-post' post.id %}" class="btn btn-sm btn-info">Edit Post</a>
                <a href="{% url 'delete-post' post.id %}" class="btn btn-sm btn-danger">Delete Post</a>
                {% endif %}                
            </div>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-heading">{{ post.title }}</h2>
                <p>By {{ post.author | title}}</p>
            </div>
            <div class="card-body">
                <p>{{ post.body }}</p>
            </div>
        </div>
        {% if post.comments %}
            <div class="py-4">
                <h3 style="font-size: 1.2rem; color:lightblue;">Comments</h3>            
                {% for comment in post.comments.all %}
                    <div class="card" style="font-size: 0.9rem;">{{ comment.body }} --- {{ comment.author | title}}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock content %}
